# Python Guided Practice

***

### GP Goals

Explore basic to intermediate Python including:

- Data Types
- Operators
- Conditional Statements
- Iteration
- Functions & Methods

In [ ]:
# great resource
# https://pythonbasics.org/

## Tile Matching Examples

# Data types

There are a number of varous data types to work with in pandas. These each will correspond to s certain variable type.

For instance, when working with quantitative data where one would want to perform some mathematical operation, the appropriate data types could be `int` or `float`.

On the other hand if working with categorical variables, the `str` data type can be useful.

Python by default will assign a datatype based on the value assigned to a variable.

In python, a variable name must start with a letter or an underscore (not a number), and are case sensitive.

In [34]:
#type()

## Text Type

Text data types are made of you guessed it, characters or text and in python are referenced as `str` or `object`. 

There are a wide number of methods that can be used on strings. Let's go over a few.
    
- String indexing
- Sub string
- Replace method
- Number of words to replace

### string `str`

Strings are characterized in python by their quotation marks. Both single and double quotes function to indicate a variable is a string.

In [17]:
# single quote string
'single quotes'

'single quotes'

In [18]:
# double quote string
"double quotes"

'double quotes'

In [19]:
# single quote in double quote string
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [2]:
# check type of a string
type("hello world")

str

In [36]:
# Merry Christmas Martha
x = "Martha"
y = "Christmas"
type(x)

str

### `.print()`

The `print()` function will print the input value, it can be useful for displaying the text of a string.

In [37]:
# print previous string
print(x)

Martha

### String Concatenation

Combining strings is called string concatenation. 

We can perform string concatenation using following ways:
 

- Using + operator 
 
- Using `.join()` method 
 
- Using % operator 
 
- Using the `.format()` function

##### `+`

In [38]:
# string concatenation
print("Merry" + " " + y + " " + x)

Merry Christmas Martha

##### `.join()`

In [54]:
# define strings                                                         
first_part = "Python"
last_part = "GP"
third_part = "1"

# define our sequence tuple                                                    
title = (first_part,last_part,third_part)

# join strings into new string with no space in between                                                  
sentence = "".join(title)

# print string
print(sentence)

PythonGP1

In [55]:
# join strings into new string with a space in between                                                  
sentence = " ".join(title)

# print string
print(sentence)

Python GP 1

In [56]:
# concatenate string elements in a list
words = ["I'm","in","a","GP","!"]
sentence = ' '.join(words)
print(sentence)

I'm in a GP !

##### `%`

When using the %(modulo) Operator the `%s` denotes string data type. The value in both variables is then passed to the string in place of `%s`.

In [45]:
# % Operator is used here to combine the string
print("Merry %s %s" % (y, x))

Merry Christmas Martha

In [47]:
# % Operator is used here to combine the string
print("%s %s" % (first_part, last_part))

Python GP

##### `.format()`

`str.format()` is a string formatting method that allows us to concatenate elements within a string with positional formatting.

Here `{}` curly brackets are used to indicate where a string element should be placed within the string.

In [48]:
# string concatenation with .format()
print("{} {}".format(first_part, last_part))

Python GP

### `.split()`

Just as we can add strings together, we can split them in a similar fashion with the `.split()` method.

Here we can split a string on any character or group of characters, `.split()` defaults to splitting a string on the whitespace.

In [51]:
# create a string
s = "Its to easy"

# split the string into a list
words = s.split()

# print the new list
print(words)

['Its', 'to', 'easy']

In [53]:
# print length of original string
print(len(s))

# print length of list
print(len(words))

11
3

### `.replace()`

It is also possible to replace strings. An effective method for replacing strings is `.replace()`.

`.replace()` takes in the `old_string` as its first parameter and the `new_string` as its second parameter.

In [49]:
# create a string (sentence)
x = "Merry Christmas Martha"

# replace Martha with Grinch
x = x.replace("Martha", "Grinch")

# print string
print(x)

Merry Christmas Grinch

## Numeric Type

Let's take a look at how to work with quatititative variables in python.

In this notebook we will explore integer and float values.

### integer `int`

As the name suggests, the `int` data type allows us to work with integer values in python. 

With `int`s we can perform arithmetic operations and perform statisical analysis vital to data science and machine learning.

In [58]:
# return the type of an integer
type(5)

int

In [12]:
# add that integer to itself
5 + 5

10

In [14]:
# set that integer to a variable
x = 5

In [13]:
# add that variable to itself
x + x

10

### float `float`

When working with decimal values, we use the `float` or floating point data type. We can effectivly perform all the same arthmetic operations we can perform on `int` on `float` as well.

In [17]:
# create a float variable where
# integer.variable+variable
x = 5.10

### arithmetic operations

In [18]:
# multiply that float by itself and check the type
# of the output
x * x

26.009999999999998

In [8]:
# create a float value from an operation on two integers
1 / 2

0.5

In [9]:
# explore exponential operations
3 ** 3

16

In [10]:
# use modulo to return remainder of division
5 % 2

0

In [59]:
# create an example of order of operations
(2 + 3) * (5 + 5)

50

## `list`

Lists are used to store multiple items in a single variable, and are one of the most common data types to use in data analysis.

Lists are mutable stores of data. Other data types that are designed to store collections of data, which are referred to as **iterables** are:

- Tuples
- Sets
- Dictionaries

Notice that we can create a list with square brackets:

In [77]:
# create a new list with square brackets
old_list = ['a','b','c']
old_list

['a', 'b', 'c']

In [78]:
# create a new list with the list method
new_list = list(['a', 'b', 'c', 1, 2, 3])
new_list

['a', 'b', 'c', 1, 2, 3]

Notice that a list can contain elements with various data types, a list can even contain a list as an element. This is refererred to as a nested list.

In [97]:
# create a list with a nested list inside of a nested list
newest_list = ['a', 'b', 'c', 1, 2, 3, ['nested', ['list']]]
newest_list

['a', 'b', 'c', 1, 2, 3, ['nested', ['list']]]

### indexing

We can access a list element by performing indexing.

Here we use brackets and the element's index, or position in the list. 

In python we start our counts with `0`, so the first element of a list always has the index `0`.

In [112]:
# return the first element of the previous list
newest_list[0]

'NEW'

In [99]:
# return the outer nested list from the previous list
newest_list[6]

['nested', ['list']]

In [100]:
# return the inner nested list from the previous list
newest_list[6][1]

['list']

## slicing

We can also perform slicing to return a subset of elements from a list based on their indices:

In [101]:
# return only the first three elements of the string
newest_list[0:3]

['a', 'b', 'c']

In [102]:
# return only the 4 - 6 element of the list
# if list not long enough recreate list
newest_list[3:6]

[1, 2, 3]

We can set a new value to an element in a list with indexing also:

In [103]:
newest_list[0] = 'NEW'
newest_list

['NEW', 'b', 'c', 1, 2, 3, ['nested', ['list']]]

## `.append()`

We can perform methods on lists in order to alter them. A common desire is to add an element to a list, which we can acheive by calling the `.append()` method which will add an element of any type to the end of a list:

In [104]:
# add a new element to the end of the list
newest_list.append('last_element')
newest_list

['NEW', 'b', 'c', 1, 2, 3, ['nested', ['list']], 'last_element']

In [105]:
# return the last element of the list with indexing
newest_list[-1]

'last_element'

## `.pop()`

When we want to remove an element from a list, we can call the `.pop()` method. 

This method will remove an element from the end of a list:

In [114]:
# remove last element of the list
newest_list.pop()
newest_list

['NEW', 'b', 'c', 1, 2, 3, ['nested', ['list']]]

## `list` operations

There are also a number of arithmetic methods we can perform on a list if it only contains numeric data types, for instance we can return the sum of the elements, as well as the minimum and maximum values.

In [108]:
# create list of numeric data type
num_list = [1, 2.2, 3, 4.4, 5, 6.6, 7, 8.8, 9, 10.1]

In [109]:
# return the sum of the elements in the list
print(sum(num_list))

57.1

In [110]:
# return the element with the minimum value
# from the list
print(min(num_list))

1

In [111]:
# return the element with the minimum value
# from the list
print(max(num_list))

10.1

## Dictionaries

Dictionaries are another iterable that uses key value pairs. With dictionaries every key has an associated value.

However, unlike lists, dictionaries don't have an order to them.

Dictionaries are defined by curly brackets.

In [244]:
# create a dictionary
d = {'first_key' : 0, 'second_key' : '1'}

In [245]:
# print dictionary
print(d)

{'first_key': 0, 'second_key': '1'}

In [247]:
# view  first key in dictionary 
d['first_key']

0

In [94]:
# view items in dictionary
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [249]:
# view all keys in dictionary
d.keys()

dict_keys(['first_key', 'second_key'])

In [250]:
# view all values in dictionary
d.values()

dict_values([0, '1'])

## `bool`

Nominal values that contain only two mutually exclusive categories are known as boolean or the `bool` data type.

In [40]:
True

True

In [41]:
False

False

## `tuple`

A `tuple` is a collection which is ordered and unchangeable, and allow for duplicates.

In [252]:
# create a tuple
t = (1,2,3)

In [43]:
# index the tuple
t[0]

1

In [253]:
#t[0] = 'NEW'

## `set`

Sets are also an iterable that we come across when using python

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are also created using curly brackets, the most important features of sets is that they do not allow duplicates.

In [255]:
# create a set
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

# Operators

## Conditional Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

# Conditional Statements

Control flow: When working with conditional statements we use a control structure to direct the order of execution for the statements in a program.

Conditional statements allow us to perform the conditional execution of a statement or a multiple statements based on the value of an expression. Conditional statements include:

- `if`
- `else`
- `elif`

## `if`

`if` statements are one of the control structures that allow to change the flow of our program.

The `if` statement uses conditions that can be combined with operators (`>`, `<`, `==`) to direct the control flow.

When writing `if` statements, every if statement needs a colon, after which the next line is always indented with four spaces.

In [115]:
# create an if statement with operator
if 10 < 20:
    print('20 is greater than 10')

2 is greater than 1

In [116]:
# perform some arthmetic operation with if statement
x = 5
if x < 10:
    print(x + x)

10

In [117]:
# create an if statement with two conditions
if x > 1 and x < 4:
     print('x is in range')

An `if` statement can also have mutltiple statements referred to as a block.


Python interprets a block as a single entity, so if the `if` statement is `TRUE`, the entire block will run.

In [124]:
# create an if statement with a block
if x <= 5:
    print("x is equals five")
    print("five is my favorite number")
    print("So x is my favorite number?")

x is equals five
five is my favorite number
So x is my favorite number?

## `else`

An `else` statement can run in conjunction with `if` to allow for another conditional to impact the control flow.

We do not include an expression with the `else` statement.

With the `else` clause, we run a condition when `if` is not `TRUE`:

In [122]:
# create an if-else statement
if x > 5:
    print('hello {}'.format(x))
else:
    print("x is smaller than five")

x is smaller than five

## `elif`

To evaluate several cases, we can use the `elif` clause and stands for `else` `if`. 

Unlike `else` we can add an expression with `elif`.

In [125]:
# create an if, elif, else statement
if x < 5:
    print('x is less than five')
elif x == 5:
    print('x is equal to five')
else:
    print('x was greater than five')

x is equal to five

# Iteration

Often it is necessary to iterate through an iterable, i.e. lists, dictionaries, etc.

Loops can be used to iterate thorugh an iterable or store of data. Types of loops include:
    
- `for`
- `while`

## `for` Loops

To iterate we need to be able to repeat an action.

`for` loops allow us to repeat ot loop a block of code until some condition is met. 

`Warning` if this condition is not met, the `for` loop can run it's loop forever.

Programs sometimes need to repeat actions. To repeat actions we can use a for loop.
A for loop is written inside the code. A for loop can have 1 or more instructions.

A for loop will repeat a code block. Repeation is continued until the stop condition is met. If the stop condition is not met it will loop infintely.

In [130]:
# create two list of strings
authors = ['Edgar', 'Hermann', 'Jerome David']
literature = ['The Raven','Siddhartha', 'The Catcher in the Rye']

# create a for loop that prints each element of the list
for author in authors:
    print(author)

Edgar
Hermann
Jerome David

In [135]:
# iterate through two lists with zip
for a, l in zip(authors, literature):
    print('{} wrote {}'.format(a, l))

Edgar wrote The Raven
Hermann wrote Siddhartha
Jerome David wrote The Catcher in the Rye

In [131]:
# 
for x in authors:
    for y in literature:
        print('{} wrote {}'.format(x, y))

Edgar wrote The Raven
Edgar wrote Siddhartha
Edgar wrote The Catcher in the Rye
Hermann wrote The Raven
Hermann wrote Siddhartha
Hermann wrote The Catcher in the Rye
Jerome David wrote The Raven
Jerome David wrote Siddhartha
Jerome David wrote The Catcher in the Rye

The repetitive nature of loops allow us to create a new list from an old list

In [147]:
# create an empty list
new_list = []

# use for loop to append elements from old list into new list
for x in literature:
        new_list.append(x)
        
# print new list
print(new_list)

['The Raven', 'Siddhartha', 'The Catcher in the Rye']

In [ ]:
# use for loop to append elements into new list based on an if statement
for x in literature:
    if "y" in x:
        new_list.append(x)
        
# print new list
print(new_list)

In [141]:
# create a list of numeric data types
num_list = [1, 2.2, 3, 4.4, 5, 6.6, 7, 8.8, 9, 10.1]


# create a for loop that prints the element times itself
# ex. 1*1=1
#     2*2=4...
for x in num_list:
    y = x * x
    print(str(x) + '*' + str(x) + '=' + str(y))

1*1=1
2.2*2.2=4.840000000000001
3*3=9
4.4*4.4=19.360000000000003
5*5=25
6.6*6.6=43.559999999999995
7*7=49
8.8*8.8=77.44000000000001
9*9=81
10.1*10.1=102.00999999999999

## while Loops

`while` loops are another iteration tool we can use to repeat a certain block of code.

As a loop, `while` loops will continue to loop through an action or block of code until some condition is met, here we utilize some operation on the iterator variable to meet the condition:

In [65]:
# create a while loop
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## `.range()`

The `.range()` function creates a sequence of integers. 

As input the function requires a stop value to end the sequence, and by default begins at `0`. The `start` parameter sets the initial integer, and the `step` parameter sets the value of increments.

In [66]:
# create a range object
range(5)

range(0, 5)

In [138]:
# iterate through a range object
for i in range(1, 5):
    print(i)

1
2
3
4

In [68]:
# create a list from a range
list(range(5))

[0, 1, 2, 3, 4]

In [139]:
# iterate through a range while utilizing the step size parameter
for x in range(0,32,2):
    print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

## list comprehension

Recall that the repetitive nature of loops allow us to create a new list from an old list

With list comprehension, we can create a new list from an old list with a more concise syntax where:

`newlist` = [expression `for` item `in` iterable]

and with a conditional:

`newlist` = [expression `for` item `in` iterable `if` condition == `True`]

In [148]:
# create an empty list
new_list = []

# use for loop to append elements from old list into new list
for x in literature:
        new_list.append(x)
        
# print new list
print(new_list)

['The Raven', 'Siddhartha', 'The Catcher in the Rye']

In [149]:
# reset list to empty
new_list = []

# recreate list with list comprehension
new_list = [x for x in literature]

# print list
print(new_list)

['The Raven', 'Siddhartha', 'The Catcher in the Rye']

In [151]:
# use list comprehension with a conditional
new_list = [x for x in literature if "y" in x]

# print list
new_list

['The Catcher in the Rye']

In [152]:
# apply method to capitalize the elements in list with 
# list comprehension
new_list = [x.upper() for x in literature]
new_list

['THE RAVEN', 'SIDDHARTHA', 'THE CATCHER IN THE RYE']

We can use list comprehension to perform an arithmetic operation much like we would with `for` loop:

In [154]:
# create a list of numeric data types
num_list = [1, 2.2, 3, 4.4, 5, 6.6, 7, 8.8, 9, 10.1]

# create an empty list
squares = []

# use for loop to square elements
# in numeric list
for num in num_list:
    squares.append(num**2)
print(squares)

[1, 4.840000000000001, 9, 19.360000000000003, 25, 43.559999999999995, 49, 77.44000000000001, 81, 102.00999999999999]

In [155]:
# use list comprehension to sqaure
# elements in numeric list
[num**2 for num in num_list]

[1,
 4.840000000000001,
 9,
 19.360000000000003,
 25,
 43.559999999999995,
 49,
 77.44000000000001,
 81,
 102.00999999999999]

# Functions

Functions are executable blocks of code, which once defined can be used any number of times. 

To create a function we first need to define it by using the `def` keyword. 

There is a space and then the name of the new function. 

Finally inside parenthesis we call the parameters for the function.

In [193]:
# define a function called square
def square(input):
    """
    Description
    
    This function will square a value
    """
    output = input ** 2
    # here we return the output varible
    return output

In [194]:
square(2)

4

In [196]:
# does output exist outside the function?
#output

Functions can also work on strings:

In [197]:
# create function to add two strings
def add_strings(x, y):
    return x + ' ' + y

In [200]:
add_strings("hello", "world")

'hello world'

## `lambda` expressions

`lambda` expressions are single line functions defined with no name and have only one expression, but with any number of arguments.

lambda arguments : expression

In [159]:
# define a function that multiplies a variable by two
def mul_two(num):
    return num * 2

mul_two(2)

4

In [160]:
# run function on a numeric value
mul_two(2)

4

We can have the same functionality in one line with lambda expressions

In [158]:
# use lambda function to multiply 
# a variable by two
x = lambda var: var*2
print(x(2))

4

We can also multiply one argument with another and return the result:

In [176]:
# use a lambda expression to multiply one variable
# with another
x = lambda a, b : a * b
print(x(2, 2))

4

Another advantage of lambda expressions is when we use them as an anonymous function inside of a function.

Let's define a function that creates an exponent to a variable

In [ ]:
# function to create an exponent
def exponent(n):
    return lambda  x: x ** n

Now we can use this function to create a function that raises a number to the fourth power:

In [192]:
# use the squaring function to raise a number to the fourth power
fourth_exp = exponent(4)

# test the function
print(fourth_exp(2))

16

## `map` and `filter`

The `map` function allows us to take a function and apply it to an iterable, passing each element in the iterable through the function:

In [ ]:
# define a function that multiplies a variable by two
def mul_two(num):
    return num * 2

In [83]:
# create a list of numbers
num_list = [1, 2.2, 3, 4.4, 5, 6.6, 7, 8.8, 9, 10.1]

In [202]:
# apply a function to a list with map
map(mul_two, num_list)

This gives us the map object's location. To access the data we change the type of the object from `map` to `list`:

In [205]:
# create a list of numbers multiplied by two using map
list(map(mul_two,num_list))

[2, 4.4, 6, 8.8, 10, 13.2, 14, 17.6, 18, 20.2]

`map` can also be used with `lambda` expressions

In [208]:
# create a list of numbers multiplied by two
# using lambda expressions, and map
list(map(lambda num: num * 2,num_list))

[2, 4.4, 6, 8.8, 10, 13.2, 14, 17.6, 18, 20.2]

`filter` allows us to filter an interable based on a boolean value returned from a function. This effectively filters out any values that are false.

Notice that because we are using a `bool`, we include some conditional when using `filter`.

In [217]:
# create a list of numbers less than 5 with filter
list(filter(lambda x: x < 5,num_list))

[1, 2.2, 3, 4.4]

In [214]:
# create a list of odd numbers from numeric list
# using modulo and filter
list(filter(lambda item: item%1 == 0,num_list))

[1, 3, 5, 7, 9]

# Exercises

Answer the following questions:

1. **Create a function that counts the number of times the word "car" occurs in a sentence, ignoring edge cases**

In [224]:
# define function
def countCar(sentence):
    count = 0
    
    for word in sentence.lower().split():
        if word == 'car':
            count += 1
    return count

In [227]:
# test function
countCar('It was my first car and my DREAM CAR')

2

2 **Given this nested list, use indexing to grab the string "ff"**

In [228]:
# nested list
nested_list = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', 'h']

In [233]:
# retrieve "ff"
print(nested_list[1][3])

ff

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [235]:
# create function
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [242]:
# test function
caught_speeding(65, 1)

'No Ticket'