# Python Guided Practice

***

### GP Goals

Explore basic to intermediate Python including:

- Data Types
- Operators
- Conditional Statements
- Iteration
- Functions & Methods

In [1]:
# great resource
# https://pythonbasics.org/

## Tile Matching Examples

# Data types

There are a number of varous data types to work with in pandas. These each will correspond to s certain variable type.

For instance, when working with quantitative data where one would want to perform some mathematical operation, the appropriate data types could be `int` or `float`.

On the other hand if working with categorical variables, the `str` data type can be useful.

Python by default will assign a datatype based on the value assigned to a variable.

In python, a variable name must start with a letter or an underscore (not a number), and are case sensitive.

In [2]:
#type()

## Text Type

Text data types are made of you guessed it, characters or text and in python are referenced as `str` or `object`. 

There are a wide number of methods that can be used on strings. Let's go over a few.
    
- String indexing
- Sub string
- Replace method
- Number of words to replace

### string `str`

Strings are characterized in python by their quotation marks. Both single and double quotes function to indicate a variable is a string.

In [3]:
# single quote string

In [4]:
# double quote string

In [5]:
# single quote in double quote string

In [6]:
# check type of a string

In [7]:
# Merry Christmas Martha
x = "Martha"
y = "Christmas"
type(x)

str

### `.print()`

The `print()` function will print the input value, it can be useful for displaying the text of a string.

In [8]:
# print previous string
print(x)

Martha

### String Concatenation

Combining strings is called string concatenation. 

We can perform string concatenation using following ways:
 

- Using + operator 
 
- Using `.join()` method 
 
- Using % operator 
 
- Using the `.format()` function

##### `+`

In [9]:
# string concatenation

##### `.join()`

In [10]:
# define strings                                                         


# define our sequence tuple                                                    


# join strings into new string with no space in between                                                  


# print string

In [11]:
# join strings into new string with a space in between                                                  


# print string

In [12]:
# concatenate string elements in a list

##### `%`

When using the %(modulo) Operator the `%s` denotes string data type. The value in both variables is then passed to the string in place of `%s`.

In [13]:
# % Operator is used here to combine the string

In [14]:
# % Operator is used here to combine the string

##### `.format()`

`str.format()` is a string formatting method that allows us to concatenate elements within a string with positional formatting.

Here `{}` curly brackets are used to indicate where a string element should be placed within the string.

In [15]:
# string concatenation with .format()

### `.split()`

Just as we can add strings together, we can split them in a similar fashion with the `.split()` method.

Here we can split a string on any character or group of characters, `.split()` defaults to splitting a string on the whitespace.

In [16]:
# create a string


# split the string into a list


# print the new list

In [17]:
# print length of original string


# print length of list

### `.replace()`

It is also possible to replace strings. An effective method for replacing strings is `.replace()`.

`.replace()` takes in the `old_string` as its first parameter and the `new_string` as its second parameter.

In [18]:
# create a string (sentence)


# replace Martha with Grinch


# print string

## Numeric Type

Let's take a look at how to work with quatititative variables in python.

In this notebook we will explore integer and float values.

### integer `int`

As the name suggests, the `int` data type allows us to work with integer values in python. 

With `int`s we can perform arithmetic operations and perform statisical analysis vital to data science and machine learning.

In [19]:
# return the type of an integer

In [20]:
# add that integer to itself

In [21]:
# set that integer to a variable

In [22]:
# add that variable to itself

### float `float`

When working with decimal values, we use the `float` or floating point data type. We can effectivly perform all the same arthmetic operations we can perform on `int` on `float` as well.

In [23]:
# create a float variable where
# integer.variable+variable

### arithmetic operations

In [24]:
# multiply that float by itself and check the type
# of the output

In [25]:
# create a float value from an operation on two integers

In [26]:
# explore exponential operations

In [27]:
# use modulo to return remainder of division

In [28]:
# create an example of order of operations

## `list`

Lists are used to store multiple items in a single variable, and are one of the most common data types to use in data analysis.

Lists are mutable stores of data. Other data types that are designed to store collections of data, which are referred to as **iterables** are:

- Tuples
- Sets
- Dictionaries

Notice that we can create a list with square brackets:

In [29]:
# create a new list with square brackets

In [30]:
# create a new list with the list method

Notice that a list can contain elements with various data types, a list can even contain a list as an element. This is refererred to as a nested list.

In [31]:
# create a list with a nested list inside of a nested list

### indexing

We can access a list element by performing indexing.

Here we use brackets and the element's index, or position in the list. 

In python we start our counts with `0`, so the first element of a list always has the index `0`.

In [32]:
# return the first element of the previous list

In [33]:
# return the outer nested list from the previous list

In [34]:
# return the inner nested list from the previous list

## slicing

We can also perform slicing to return a subset of elements from a list based on their indices:

In [35]:
# return only the first three elements of the string

In [36]:
# return only the 4 - 6 element of the list
# if list not long enough recreate list

We can set a new value to an element in a list with indexing also:

## `.append()`

We can perform methods on lists in order to alter them. A common desire is to add an element to a list, which we can acheive by calling the `.append()` method which will add an element of any type to the end of a list:

In [37]:
# add a new element to the end of the list

In [38]:
# return the last element of the list with indexing

## `.pop()`

When we want to remove an element from a list, we can call the `.pop()` method. 

This method will remove an element from the end of a list:

In [39]:
# remove last element of the list

## `list` operations

There are also a number of arithmetic methods we can perform on a list if it only contains numeric data types, for instance we can return the sum of the elements, as well as the minimum and maximum values.

In [40]:
# create list of numeric data type

In [41]:
# return the sum of the elements in the list

In [42]:
# return the element with the minimum value
# from the list

In [43]:
# return the element with the minimum value
# from the list

## Dictionaries

Dictionaries are another iterable that uses key value pairs. With dictionaries every key has an associated value.

However, unlike lists, dictionaries don't have an order to them.

Dictionaries are defined by curly brackets.

In [44]:
# create a dictionary

In [45]:
# print dictionary

In [46]:
# view  first key in dictionary

In [47]:
# view items in dictionary

In [48]:
# view all keys in dictionary

In [49]:
# view all values in dictionary

## `bool`

Nominal values that contain only two mutually exclusive categories are known as boolean or the `bool` data type.

In [50]:
True

True

In [51]:
False

False

## `tuple`

A `tuple` is a collection which is ordered and unchangeable, and allow for duplicates.

In [52]:
# create a tuple

In [53]:
# index the tuple

In [54]:
#t[0] = 'NEW'

## `set`

Sets are also an iterable that we come across when using python

A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are also created using curly brackets, the most important features of sets is that they do not allow duplicates.

In [55]:
# create a set

# Operators

## Conditional Operators

In [56]:
1 > 2

False

In [57]:
1 < 2

True

In [58]:
1 >= 1

True

In [59]:
1 <= 4

True

In [60]:
1 == 1

True

In [61]:
'hi' == 'bye'

False

## Logic Operators

In [62]:
(1 > 2) and (2 < 3)

False

In [63]:
(1 > 2) or (2 < 3)

True

In [64]:
(1 == 2) or (2 == 3) or (4 == 4)

True

# Conditional Statements

Control flow: When working with conditional statements we use a control structure to direct the order of execution for the statements in a program.

Conditional statements allow us to perform the conditional execution of a statement or a multiple statements based on the value of an expression. Conditional statements include:

- `if`
- `else`
- `elif`

## `if`

`if` statements are one of the control structures that allow to change the flow of our program.

The `if` statement uses conditions that can be combined with operators (`>`, `<`, `==`) to direct the control flow.

When writing `if` statements, every if statement needs a colon, after which the next line is always indented with four spaces.

In [65]:
# create an if statement with operator

In [66]:
# perform some arthmetic operation with if statement

In [67]:
# create an if statement with two conditions

An `if` statement can also have mutltiple statements referred to as a block.


Python interprets a block as a single entity, so if the `if` statement is `TRUE`, the entire block will run.

In [68]:
# create an if statement with a block

## `else`

An `else` statement can run in conjunction with `if` to allow for another conditional to impact the control flow.

We do not include an expression with the `else` statement.

With the `else` clause, we run a condition when `if` is not `TRUE`:

In [69]:
# create an if-else statement

## `elif`

To evaluate several cases, we can use the `elif` clause and stands for `else` `if`. 

Unlike `else` we can add an expression with `elif`.

In [70]:
# create an if, elif, else statement

# Iteration

Often it is necessary to iterate through an iterable, i.e. lists, dictionaries, etc.

Loops can be used to iterate thorugh an iterable or store of data. Types of loops include:
    
- `for`
- `while`

## `for` Loops

To iterate we need to be able to repeat an action.

`for` loops allow us to repeat ot loop a block of code until some condition is met. 

`Warning` if this condition is not met, the `for` loop can run it's loop forever.

Programs sometimes need to repeat actions. To repeat actions we can use a for loop.
A for loop is written inside the code. A for loop can have 1 or more instructions.

A for loop will repeat a code block. Repeation is continued until the stop condition is met. If the stop condition is not met it will loop infintely.

In [71]:
# create two lists of strings


# create a for loop that prints each element of the list

In [72]:
# iterate through two lists with zip

The repetitive nature of loops allow us to create a new list from an old list

In [73]:
# create an empty list


# use for loop to append elements from old list into new list

# print new list

In [74]:
# use for loop to append elements into new list based on an if statement

        
# print new list

In [75]:
# create a list of numeric data types
num_list = [1, 2.2, 3, 4.4, 5, 6.6, 7, 8.8, 9, 10.1]


# create a for loop that prints the element times itself
# ex. 1*1=1
#     2*2=4...

## while Loops

`while` loops are another iteration tool we can use to repeat a certain block of code.

As a loop, `while` loops will continue to loop through an action or block of code until some condition is met, here we utilize some operation on the iterator variable to meet the condition:

In [76]:
# create a while loop

## `.range()`

The `.range()` function creates a sequence of integers. 

As input the function requires a stop value to end the sequence, and by default begins at `0`. The `start` parameter sets the initial integer, and the `step` parameter sets the value of increments.

In [77]:
# create a range object

In [78]:
# iterate through a range object

In [79]:
# create a list from a range

In [80]:
# iterate through a range while utilizing the step size parameter

## list comprehension

Recall that the repetitive nature of loops allow us to create a new list from an old list

With list comprehension, we can create a new list from an old list with a more concise syntax where:

`newlist` = [expression `for` item `in` iterable]

and with a conditional:

`newlist` = [expression `for` item `in` iterable `if` condition == `True`]

In [81]:
# create an empty list


# use for loop to append elements from old list into new list

        
# print new list

In [82]:
# reset list to empty


# recreate list with list comprehension


# print list

In [83]:
# use list comprehension with a conditional


# print list

In [84]:
# apply method to capitalize the elements in list with 
# list comprehension

We can use list comprehension to perform an arithmetic operation much like we would with `for` loop:

In [85]:
# create a list of numeric data types


# create an empty list


# use for loop to square elements
# in numeric list

In [86]:
# use list comprehension to sqaure
# elements in numeric list

# Functions

Functions are executable blocks of code, which once defined can be used any number of times. 

To create a function we first need to define it by using the `def` keyword. 

There is a space and then the name of the new function. 

Finally inside parenthesis we call the parameters for the function.

In [87]:
# define a function called square
def square(input):
    """
    Description
    
    This function will square a value
    """
    output = input ** 2
    # here we return the output varible
    return output

In [88]:
# test function
square(2)

4

In [89]:
# does output exist outside the function?
#output

Functions can also work on strings:

In [90]:
# create function to add two strings

In [91]:
# test function

## `lambda` expressions

`lambda` expressions are single line functions defined with no name and have only one expression, but with any number of arguments.

lambda arguments : expression

In [92]:
# define a function that multiplies a variable by two
def mul_two(num):
    return num * 2

mul_two(2)

4

In [93]:
# run function on a numeric value
mul_two(2)

4

We can have the same functionality in one line with lambda expressions

In [94]:
# use lambda function to multiply 
# a variable by two

We can also multiply one argument with another and return the result:

In [95]:
# use a lambda expression to multiply one variable
# with another

Another advantage of lambda expressions is when we use them as an anonymous function inside of a function.

Let's define a function that creates an exponent to a variable

In [96]:
# function to create an exponent
def exponent(n):
    return lambda  x: x ** n

Now we can use this function to create a function that raises a number to the fourth power:

In [97]:
# use the squaring function to raise a number to the fourth power


# test the function

## `map` and `filter`

The `map` function allows us to take a function and apply it to an iterable, passing each element in the iterable through the function:

In [98]:
# define a function that multiplies a variable by two

In [99]:
# create a list of numbers
num_list = [1, 2.2, 3, 4.4, 5, 6.6, 7, 8.8, 9, 10.1]

In [100]:
# apply a function to a list with map

This gives us the map object's location. To access the data we change the type of the object from `map` to `list`:

In [101]:
# create a list of numbers multiplied by two using map

`map` can also be used with `lambda` expressions

In [102]:
# create a list of numbers multiplied by two
# using lambda expressions, and map

`filter` allows us to filter an interable based on a boolean value returned from a function. This effectively filters out any values that are false.

Notice that because we are using a `bool`, we include some conditional when using `filter`.

In [103]:
# create a list of numbers less than 5 with filter

In [104]:
# create a list of odd numbers from numeric list
# using modulo and filter

# Exercises

Answer the following questions:

1. **Create a function that counts the number of times the word "car" occurs in a sentence, ignoring edge cases**

In [105]:
# define function

In [106]:
# test function

2 **Given this nested list, use indexing to grab the string "ff"**

In [107]:
# nested list
nested_list = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', 'h']

In [108]:
# retrieve "ff"

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [109]:
# create function

In [110]:
# test function

In [111]:
# fini